# Visual Studio 2015/2017 cache/options directory
*.vs/
 

#OS junk files
[Tt]humbs.db
*.DS_Store
Build Output

#Visual Studio files
*.vsp
*.psess
*.[Oo]bj
*.exe
*.pdb
*.orig
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.dbmdl
ipch/
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
Ankh.NoLoad
nsb_log*.txt

#InstallShield
[Ss]ingle[Ii]mage/
[Dd][Vv][Dd]-5/
[Ii]nterm/

#Tooling
_ReSharper*/

*.resharper
[Tt]est[Rr]esult*

#Project files
[Bb]uild/

#Subversion files
.svn

# Office Temp Files
~$*

# Misc
!NuGet.exe
packages
